@use '../mixins'
@use '../vars'

.info
  &__container
    margin-left: 0
    padding: 20px 0 0 0
    & div div:first-child .info__card 
      background: vars.$bgPrimary
      color: #FFFFFF
  &__card
    display: flex
    padding: 10px
    flex-direction: column
    justify-content: center
    min-width: 160px
    height: 160px
    color: vars.$textSecondary
    
    @include mixins.sm
      height: 150px
      max-width: 150px 
  &__content
    &:last-child
      margin-top: auto
      padding: 10px 
  &__title
    text-align: center
    @include mixins.sm
      font-size: 1.1rem
      font-weight: 400
  &__subtitle
    text-align: center
    font-size: 1rem
  &__svg-container
    display: flex
    justify-content: center
    align-items: center
    font-size: 2.4rem
    & svg
      @include mixins.svgSize(60, 60)
      @include mixins.md
        @include mixins.svgSize(60, 60)
      @include mixins.sm
        @include mixins.svgSize(50, 50)
  &__svg
    @include mixins.svgSize(60, 60)
    @include mixins.md
      @include mixins.svgSize(60, 60)
    @include mixins.sm
      @include mixins.svgSize(50, 50)