@use '../mixins'
@use '../vars'

.menu__list
  width: 280px
  @include mixins.md 
    width: 50px
  &--opened
    @include mixins.md
      width: 280px

.menu
  &--center
    justify-content: center
  &--svg
    @include mixins.svgSize(40, 40)
  &__avatar
    display: flex
    align-items: center
    & svg
      color: vars.$bgItem
      @include mixins.svgSize(80, 80)
  &__settings
    position: absolute
    top: 0
    right: 0
    &:hover
      background-color: none
    & svg
      @include mixins.svgSize(40, 40)
  &__button
    &.active
      color: vars.$bgPrimary
      & svg
        color: vars.$bgPrimary
    &--drawer
      &.active
        color: vars.$bgPrimary
        & svg
          color: vars.$bgPrimary
    &--center
      justify-content: center
    & svg
      color: vars.$bgItem
    &-text
      font-size: 1.4rem
    &:hover
      background-color: vars.$bgPrimaryHover
  &__mobile
    margin-top: 100px
  &__header
    position: relative
    margin-bottom: 20px
  &__nav-container
    margin-top: 20px
  
  