@use '../vars'

.pupil-form
  &__dialog-content
    padding-bottom: 24px
  &__controls
    display: flex
    justify-content: flex-end
    margin-top: 20px
    & > button
      margin-left: 20px
    & button:first-child 
      margin-left:0
      margin-right: auto
  &__btn
    background-color: vars.$bgSecondary
    &-add-contact
      margin-left: 20px
    & > span:first-child
      color: vars.$textHover
  &__select-error
    color: vars.$textError
    font-size: 0.75rem
  